/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background-color:#FFFEF8;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 60px 0
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

li:focus {
	color: #B1663C;
	outline: none;      /* Supprimer le contour par défaut */
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
margin: auto;
}

#contact > * {
	text-align: center;

}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/* Nouveaux éléments ajoutés */
	/***** Barre noire lorsque l'on est connecté *****/
#edition-mode-bar {
    width: 100%;
	max-width: 1440px;
    height: 40px;
    background-color: black;
    color: white;
    display: none; /* cachée par défaut*/ 
    position: fixed;
    top: 0;
    left: 50%; /* Centre la barre */
    transform: translateX(-50%); /* Correction pour le centrage */
    z-index: 10; /* Pour qu'elle soit au-dessus de tout le reste */
    justify-content: center;
    align-items: center;
}

/* Contenu de la barre : icône et texte */
.edition-content {
    display: flex;
    align-items: center;
    gap: 10px; /* Un peu d'espace entre l'icône et le texte */
}

/* Style de l'icône */
#icone-mode-bar {
    font-size: 18px; /* Taille de l'icône */
}

/* Style du texte */
#edition-mode-bar span {
    font-size: 18px;
    font-weight: 500;
}

	/***** Filtres du portfolio *****/
.hidden {
    display: none;
}

.title-portfolio {
	margin:139px 0 0 0;
}

.list-buttons-filters {
	display:flex;
	justify-content:center;
	margin: 50px 0;
}

.buttons-to-filter {
	height:38px;
	size:16px;
	font-weight:700;
	border: solid 2px #1D6154;
	border-radius:50px;
	background-color:white;
	color:#1D6154;
	font-family:Syne;
}

.buttons-to-filter:nth-child(1) {
	width:100px;
	margin:0 10px 0 0;
}

.buttons-to-filter:nth-child(2) {
	width:100px;
	margin:0 10px 0 0;
} 

.buttons-to-filter:nth-child(3) {
	width:157px;
	margin:0 10px 0 0;
}

.buttons-to-filter:nth-child(4) {
	width:198px;
} 

.buttons-to-filter:hover {
	background-color:#1D6154;
	color:white;
}

.buttons-to-filter:focus {
	background-color:#1D6154;
	color:white;
}

	/***** cursor de la souris *****/
li, button, a {
	cursor: pointer;
}

	/***** Page de connexion *****/
.container-login-page {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

.container-login-page h2 {
	margin:140px 0 37px 0;
}

.container-login-page .error-message {
	color:rgb(184, 1, 1);
	font-size: 16px;
	font-weight: 600;
	text-align : center;
	margin : 0;
	display:none;
}

.container-login-page button {
	height:36px;
	width:179px;
	size:16px;
	font-family:Syne;
	font-weight:700;
	border: solid 2px #1D6154;
	border-radius:50px;
	background-color: #1D6154;
	color:white;
	margin: 15px 0 28px 0;
}

.container-login-page button:hover {
	background-color:white;
	color:#1D6154;
}

.input-field input {
	margin:22px 0;
	padding:0 0 0 10px;
	width:379px;
	height:51px;
	border: none;
	border-radius: 2px;
	background-color:white;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Ombre subtile */
	outline: none; /* Empêche la bordure bleue par défaut au focus */
}

.input-field input::placeholder {
	font-style: italic;
	color: #979696;
}

.forgot-password-link {
	color:black;
	margin: 0 0 355px 0;
	font-weight:300;
}   

.forgot-password-link:hover, .forgot-password-link:focus {
	color:#1D6154;
}

/* Style de l'input lorsqu'il y a une erreur */
.input-field input.input-error {
    border: 2px solid rgb(184, 1, 1) !important; /* Bordure rouge pour l'erreur */
    box-shadow: 0px 0px 5px rgba(184, 1, 1, 0.7); /* Effet lumineux rouge */
}

/* Style spécifique pour l'affichage du placeholder d'erreur */
.input-field input.input-error::placeholder {
    color: rgb(184, 1, 1); /* Texte de l'erreur en rouge */
    text-align: center;
}

	/***** Boites modales *****/
/* message de confirmations */
.confirmation-delete {
	display:none;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
    width: 300px;
    z-index: 10;
}

.confirmation-box p {
    margin-bottom: 15px;
    font-size: 14px;
	font-style:italic;
}

.btn-no, .btn-yes {
    background-color: white;
    color: #1D6154;
	font-weight: 500;
    padding: 5px;
    border: solid 2px #1D6154;
    cursor: pointer;
    margin-right: 10px;
	margin-top: 10px;
    border-radius: 5px;
	width: 50px;
}

.btn-no:hover, .btn-yes:hover {
	color: white;
	background-color: #1D6154;
}

/* Lien pour ouvrir les boites modales */
.link-to-open-modal-box {
	color: black;
	text-decoration: none;
	font-size: 14px;
}

.icone-link-container {
	display: none;
	align-items: center;
	justify-content: center;
	gap: 15px;
	width: 85px;
	height: 18px;
	margin: 30px 0 0 0;
}

.container-modalLink {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.title-portfolio {
	margin: 30px 0 0 0;
	padding:30px 0 0 0;
}

/* les boites modales*/
.modal-box-1, .modal-box-2 {
	display: none; 
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-items:center;
	justify-content:center;
	z-index:100;
	background-color:white;
	border-radius: 10px;
	width: 630px;   
	height: 680px;    /* Ajuster la hauteur de la modale */
}

.modal-container, .modal-container2 {
	position: relative;
	text-align: center;
	padding: 20px;
}

.button-close-modal {
	border:none;
	top: 25px;
	right: 25px;
	background-color: transparent;
	position: absolute;
	font-size:18px;
	cursor: pointer;
	margin: 0;
}

.button-go-back {
	border:none;
	top: 20px;
	left: 25px;
	background-color: transparent;
	position: absolute;
	font-size:24px;
	cursor: pointer;
	margin: 0;
	font-weight: 700;
}

.container-pictures-modal {
	width: 420.3px;
	height:365.71px;
	gap: 9px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);  /* 5 colonnes */
	justify-content: center;                /* Centre les colonnes horizontalement */
	align-items: center;                    /* Centre les images verticalement */
	margin: 0 auto 67.29px auto;                         /* Centre le conteneur dans la modale */
}

.container-pictures-modal img {
	width: 76.86px;
	height: 102.57px;
	object-fit: cover;
	margin: 0 0 29px 0;
}

.container-pictures-modal figcaption {
	display: none;
}

/* Nouveau style pour la div contenant l'image et le bouton poubelle */
.container-delete-button {
    position: relative;  /* Permet de positionner le bouton par rapport à l'image */
    display: inline-block;
    margin: 0;
	padding:0;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: black;
    border: none;
	border-radius:2px;
	width: 17px; /* Taille du carré */
    height: 17px; /* Taille du carré */
	display: flex; /* Utiliser Flexbox pour centrer l'icône */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    cursor: pointer;
}

.delete-button i {
	color:white;
	font-size:9px;
    pointer-events: none; /* Pour s'assurer que le clic sur l'icône fonctionne bien */
}

.title-modal {
	font-size: 26px;
	text-align: center;
	width: 100%;
	margin: 30px 0 40px 0;
}

.lign-modal-box {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: fit-content;            /* S'ajuste à la taille du contenu */
	display:flex;
	align-items:center;
	justify-content:center;
	margin:0;
}

.lign-modal-box svg {  /* pour éviter que la ligne ne soit à gauche */
	display: block;
	margin: 0 auto; 
}

.form-to-add-picture {
	margin: 0;
	padding: 0;
	border: none;
}

.button-add-pictures {
	display:flex;
	align-items: center;
	justify-content: center;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	height:36px;
	width:237px;
	size:14px;
	font-family:Syne;
	font-weight:700;
	border: solid 2px #1D6154;
	border-radius:50px;
	background-color: #1D6154;
	color:white;
	margin: 30px 0 5px 0;
}

.button-add-pictures:hover {
	color:#1D6154;
	background-color:white;
}

.error-message-modale {
	margin: 0 0 5px 0;
	text-align:center;
	color: rgb(184, 1, 1);
	font-weight: 500;
	font-style:italic;
	display:none;
}

.erreur-in-modal2 {
	margin: 0 0 5px 0;
	text-align:center;
	color: rgb(184, 1, 1);
	font-weight: 500;
	font-style:italic;
	display:block;
}

.button-to-save {
	display:flex;
	align-items: center;
	justify-content: center;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	height:36px;
	width:237px;
	size:14px;
	font-family:Syne;
	font-weight:700;
	border: solid 2px #A7A7A7;
	border-radius:50px;
	background-color: #A7A7A7;
	color:white;
	margin: 30px 0 5px 0;
}

.input-field-in-modal {
	width:420px;
	display:flex;
	align-items:flex-start;
	justify-content:center;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	flex-direction:column;
	margin: 0;
}

.input-field-in-modal input, .input-field-in-modal select {
	margin:0;
	display:flex;
	align-items:center;
	justify-content:center;
	width:420px;
	height:51px;
	border: none;
	border-radius: 2px;
	background-color:white;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Ombre subtile */
	outline: none; /* Empêche la bordure bleue par défaut au focus */
}

.input-field-in-modal input::placeholder {
	font-style: italic;
}

.input-field-in-modal select {
	margin: 0 0 40px 0;
}

.input-field-in-modal input {
	margin: 0 0 20px 0;
}

.input-field-in-modal p {
	text-align: left;
	position: relative;
	margin: 0 0 20px 0;
}

.input-field-in-modal select:invalid {
	font-style: italic;
    color: gray; /* option affichée par défaut */
}

/* Masquer la première option tout en la désactivant */
.input-field-in-modal select .default-option {
    display: none; /* Masquer cette option visuellement */
}

.square-to-add-pictures {
	background-color: #E8F1F6;
	border: none;
	border-radius: 5px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	flex-direction: column;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 420px;
	height: 169px;
	margin: 0 0 20px 0;
}

.icone-in-square {
	display: flex;
    justify-content: center;
    align-items: center;
	width:80px;
	height: 80px;
	margin: 15px 0 0 0;
	padding:0;
}

.icone-in-square i {
	font-size: 76px;
	color: #CBD6DC;
	margin: 0;
	padding:0;
}

.button-load-pictures {
	display:flex;
	align-items: center;
	justify-content: center;
	height:36px;
	width:173px;
	size:14px;
	font-family:Syne;
	font-weight:400;
	border: solid 2px #CBD6DC;
	border-radius:50px;
	background-color: #CBD6DC;
	color:#306685;
	margin: 0;
}

.square-to-add-pictures .subtitle-info {
	font-size:10px;
	font-weight: 400;
	color: #444444;
	text-align: center;
	padding:0;
	margin: 0 0 15px 0;
}

.square-to-add-pictures .img-selected-to-add {
	width: auto;
	height: 100%;
	object-fit: cover;
}


